@model IEnumerable<ImageUploadReCreate.Models.Product_Category>

@{
    ViewData["Title"] = "ShowProduct";
}

<h1>ShowProduct</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.custom.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custom.Pdetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custom.Pprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.std.Cname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custom.ProfileImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.custom.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.custom.Pdetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.custom.Pprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.std.Cname)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ProfileImage)*@
                <img src="~/Images/@item.custom.ProfileImage" class="rounded-circle" width="40" height="40" asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.custom.Pid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.custom.Pid">Details</a> |
                <a asp-action="DeleteProduct" asp-route-id="@item.custom.Pid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
